* {
  margin: 0 auto;
  padding: 0;
}

body {
  background: #eee;
  font: normal 13px sans-serif;
  color: #333;
}

#wrapper {
  width: 997px;
  header {
    overflow: hidden;
    h1#logo {
      float: left;
    }
    section#time {
      float: right;
    }
  }
}