!!! 5
%html{:lang => 'pt-br'}
  %head
    %meta{:charset => 'utf-8'}
    %title Campus Fila - Os últimos serão os primeiros
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/application.css'}
    %link{:rel => 'shortcut icon', :type => 'text/css', :href => '/images/favicon.png'}
    %script{:type => 'text/javascript', :src => 'http://www.google.com/jsapi'}
    :javascript
      google.load('jquery', '1.4.3');
    %script{:type => 'text/javascript', :src => '/scripts/application.js'}
    /[if IE]
      %script{:type => 'text/javascript', :src => 'http://html5shiv.googlecode.com/svn/trunk/html5.js'}
  %body
    #wrapper
      %header
        %h1#logo
          %a.image_replacement{:href => '#'} Campus Fila - Os últimos serão os primeiros
        %section#time
          %span.date
          %span.time
      #content
        %section#status
          %ul.queue
            %li Carregando...
        
      %footer
        © 2011 <strong>Campus Fila</strong>. Todos os direitos reservados.
        #thanks
          Design por <a href="http://twitter.com/caiotarifa" rel="external">@caiotarifa</a>, programado por <a href="http://twitter.com/marciogm" rel="external">@marciogm</a> e <a href="http://twitter.com/matheusca" rel="external">@matheusca</a>.
          
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20886408-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    :javascript
      var GoSquared={};
      GoSquared.acct = "GSN-327086-U";
      (function(w){
        function gs(){
          w._gstc_lt=+(new Date); var d=document;
          var g = d.createElement("script"); g.type = "text/javascript"; g.async = true; g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
          var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(g, s);
        }
        w.addEventListener?w.addEventListener("load",gs,false):w.attachEvent("onload",gs);
      })(window);
