!!! 5
%html{:lang => 'pt-br'}
  %head
    %meta{:charset => 'utf-8'}
    %title Campus Fila - Os últimos serão os primeiros
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/application.css'}
    %link{:rel => 'shortcut icon', :type => 'text/css', :href => '/images/favicon.png'}
    %script{:type => 'text/javascript', :src => 'http://www.google.com/jsapi'}
    :javascript
      google.load('jquery', '1.4.3');
    %script{:type => 'text/javascript', :src => '/scripts/application.js'}
    /[if IE]
      %script{:type => 'text/javascript', :src => 'http://html5shiv.googlecode.com/svn/trunk/html5.js'}
  %body
    #wrapper
      %header
        %h1#logo
          %a.image_replacement{:href => '#'} Campus Fila - Os últimos serão os primeiros
        %section#time
          %span.date
          %span.time
      #content
        %section#status
          %ul.queue
            %li Carregando...
            
      %nav#social
        %ul
          %li
            %a.social.google_bookmarks{:href => 'http://www.google.com/bookmarks/mark?op=add&bkmk=http://campusfila.heroku.com/', :rel => 'external'} Google Bookmarks
          %li
            %a.social.yahoo_bookmarks{:href => 'http://bookmarks.yahoo.com/toolbar/savebm?opener=tb&u=http://campusfila.heroku.com/', :rel => 'external'} Yahoo! Bookmarks
          %li
            %a.social.facebook{:href => 'http://www.facebook.com/share.php?u=http://campusfila.heroku.com/', :rel => 'external'} Facebook
          %li
            %a.social.twitter{:href => 'http://twitter.com/?status=Saiba%20a%20hora%20certa%20de%20ir%20a%20um%20lugar%20na%20%23cpbr4%20http://campusfila.heroku.com/%20%23campusfila', :rel => 'external'} Twitter
          %li
            %a.social.delicious{:href => 'http://del.icio.us/post?url=http://campusfila.heroku.com/&title=Campus%20Fila', :rel => 'external'} Del.icio.us
          %li
            %a.social.digg{:href => 'http://digg.com/submit?phase=2&url=http://campusfila.heroku.com/&title=Campus%2520Fila', :rel => 'external'} Digg
          %li
            %a.social.ueba{:href => 'http://ueba.com.br/NovoLink?url=http://campusfila.heroku.com/', :rel => 'external'} Uêba
          %li
            %a.social.my_space{:href => 'http://www.myspace.com/Modules/PostTo/Pages/default.aspx?u=http://campusfila.heroku.com/', :rel => 'external'} MySpace
          %li
            %a.social.windows_live{:href => 'http://favorites.live.com/quickadd.aspx?marklet=1&mkt=pt-BR&url=http://campusfila.heroku.com/', :rel => 'external'} Windows Live
          %li
            %a.social.blogger{:href => 'http://www.blogger.com/blog_this.pyra?t&u=http://campusfila.heroku.com/&n=Campus%20Fila&a=ADD_SERVICE_FLAG&passive=true&alinsu=0&aplinsu=0&alwf=true&hl=pt_BR&skipvpage=true&rm=false&showra=1&fpui=2&naui=8', :rel => 'external'} Blogger
          %li
            %a.social.stumble_upon{:href => 'http://www.stumbleupon.com/submit?url=http://campusfila.heroku.com/&title=Campus%20Fila', :rel => 'external'} StumbleUpon
          %li
            %a.social.linkedin{:href => 'http://www.linkedin.com/shareArticle?url=http://campusfila.heroku.com/&mini=true&title=Campus Fila&ro=false&summary=Não perca seu tempo em fila, consulte o Campus Fila antes.&source=Campus Fila', :rel => 'external'} LinkedIn
          %li
            %a.social.wordpress{:href => 'http://api.addthis.com/oexchange/0.8/forward/wordpress/offer?url=http://campusfila.heroku.com/&title=Campus Fila', :rel => 'external'} Wordpress
          %li
            %a.social.tumblr{:href => 'http://www.tumblr.com/share?v=3&u=http://campusfila.heroku.com/&t=Campus%20Fila&s=N%C3%A3o%20perca%20seu%20tempo%20em%20filas,%20consulte%20o%20Campus%20Fila.', :rel => 'external'} Tumblr.
          %li
            %a.social.technorati{:href => 'http://technorati.com/faves?add=http://campusfila.heroku.com/', :rel => 'external'} Technorati
          %li
            %a.social.mail{:href => 'mailto:?subject=Campus%20Fila&body=http://campusfila.heroku.com/', :rel => 'external'} Enviar e-mail
        
    %footer
      © 2011 <strong>Campus Fila</strong>. Todos os direitos reservados.
      #thanks
        Design por <a href="http://twitter.com/caiotarifa" rel="external">@caiotarifa</a>, programado por <a href="http://twitter.com/marciogm" rel="external">@marciogm</a> e <a href="http://twitter.com/matheusca" rel="external">@matheusca</a>.
          
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20886408-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    :javascript
      var GoSquared={};
      GoSquared.acct = "GSN-327086-U";
      (function(w){
        function gs(){
          w._gstc_lt=+(new Date); var d=document;
          var g = d.createElement("script"); g.type = "text/javascript"; g.async = true; g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
          var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(g, s);
        }
        w.addEventListener?w.addEventListener("load",gs,false):w.attachEvent("onload",gs);
      })(window);
